body:not(.is-singular) {
  .site-main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4vw;
      padding: 2em 4vw;
      justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;

      .book--portrait {
        width: 80%;
      }
      .book--square {
        width: 90%;
      }
  }
}
