html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

$radius: var(--radius, 0.61em);
$cover-thickness: var(--cover-thickness ,0.3em);
$book-thickness: var(--book-thickness, 2rem);
$book-width: 100%;
$book-height: auto;
$binding-color: var(--binding-color, #a00);

.book img {
  width: 100%;
  height: auto;;
  display: block;
  line-height: 0;
}

.book .cover {
  top: 0;
  margin-left: $cover-thickness;
  margin-left: $radius;
  //  margin-left: 0;
  //  height: calc((100% - #{$book-thickness}) + #{0.4em});
  right: 0;
  background: $binding-color;
  border-bottom: $cover-thickness solid $binding-color;
  //  border-right: calc(#{$cover-thickness} / 2) solid #a00;
  z-index: 1;
  transition: 0.4s all ease;
  transform-origin: top left;
  position: relative;

  height: $book-height;

  margin-bottom: calc(
    -1 * #{$cover-thickness}
  ); //  margin-bottom: calc(-1 * #{$radius});

}
.book:hover .cover {
  transform: skewY(-6deg) scaleX(0.98);
}

.book {
  display: block;
  background: #ccc;

  //  background: linear-gradient(90deg, transparent 0%, transparent $cover-thickness, #fff $cover-thickness, #fff 100%);

  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) #{$radius},
    #fff #{$radius},
      #fff 100%
    ),
    url(https://images.unsplash.com/photo-1621348003842-65f01c0fb21b?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-size: contain, contain;

  width: $book-width;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  position: relative;
  box-shadow: 0 0.4em 1.4em #aaa;
  //  border: $cover-thickness solid #a00;
  border-top: none;
  border-right: none;
}
.book .pages {
  // z-index: 10;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  //  height: calc(#{$book-thickness} - #{$radius});
  height: $book-thickness;
  background: #aaa;

  background: repeating-linear-gradient(
    180deg,
    #666,
    #666 1px,
    #aaa 1px,
    #aaa 2px
  );
  background-size: 1em;

  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  border: $cover-thickness solid $binding-color;
  box-shadow: inset 0.2em -0.1em 0.2em rgba(0, 0, 0, 0.4);
  border-right: none;
  border-top-color: transparent;

  &:before {
    position: absolute;
    content: "";
    top: calc(-1 * #{$cover-thickness});
    left: calc(-1 * #{$cover-thickness});
    border-top-left-radius: $radius;
    width: $radius;
    height: calc(#{$book-thickness} / 2);
    border: $cover-thickness solid $binding-color;
    border-right: none;
    border-bottom: none;
  }
}
