.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: none;
}


.the-end {
    width: 50%;
    float: right;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
