.site-title {
  a {
    font-weight: 800;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    letter-spacing: -0.03em;
    width: 1rem;
    display: block;
    line-height: 0.86;
    padding: 3rem;
    position: fixed;
  }
}
