.nav-links {
  position: relative;
  padding: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background: #eee;
  margin-top: 8em;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2em;
    left: 0;
  }
  &:before {
    @include jagged-bg(#fff, transparent, 2em, top);
    top: 0;
  }
}
