html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

p {
  margin-top: 0;
}
.book-page {
  p {
    font-size: 1.6vw;
  }
}

img {
  height: auto;
}

nav#site-navigation {
    position: absolute;
    top: 2em;
    right: 2em;
}
