@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@0;1&display=swap');



body {
  font-family: Satoshi;
//  @include font-size(3rem);
}

.entry-title {
  color: #222;
    font-weight: 800;
    @include font-size(5rem);
    letter-spacing: -0.04em;
  @include shadowblock(#aaa, 6);
  margin-top: 0;
}
.entry-content p {
}
.has-large-font-size {
  @include font-size(2rem);
  line-height: 1.2;
}
