/* View controller
  ================ */

fieldset {
  border-radius: 0.6rem;
  border: 2px solid #aaa;
  padding: 1rem 1.4rem 1.6rem;

  legend {
    padding: 0 1rem;
  }
}
.view-controls {
  display: block;
  width: 40rem;
  margin: 0 auto;
  padding: 1em;
  text-align: center;

  --btn-color: #06f;

  li {
    display: inline;
    list-style: none;
    padding: 0.4rem;
  }
  input[type="radio"] {
    position: absolute;
    width: 1px;
    opacity: 0;

    & ~ label {
      position: relative;
      display: inline-flex;
      gap: 0.6rem;
      align-items: center;

      &:before {
        content: "";
        display: block;
        //        position: absolute;
        width: 2rem;
        height: 2rem;
        background: #fff;
        border-radius: 50%;
        border: 2px solid var(--btn-color);
        left: 0;
        @include shadowblock(#0af, 3, box);
      }
    }

    &:checked {
      & ~ label {
        &:before {
          background: radial-gradient(ellipse at center, var(--btn-color) 49%, #fff 52%, #fff 100%);
        }
      }
    }
  }




  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    opacity: 0;

    & ~ label {
      position: relative;
      display: inline-flex;
      gap: 0.6rem;
      align-items: center;

      &:before {
        content: "";
        display: block;
        //        position: absolute;
        width: 2rem;
        height: 2rem;
        background: #fff;
        border-radius: 0.4em;
        border: 2px solid var(--btn-color);
        left: 0;
        @include shadowblock(#f00, 4, box);
      }
    }

    &:checked {
      & ~ label {
        &:after {
          font-size: 2rem;
            content: "✕";
            position: absolute;
            width: calc(2rem + 4px);
            height: calc(2rem + 4px);
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            top: 3px;
            left: 3px;
        }
      }
    }
  }

  input:checked ~ label:before {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
}
