@mixin shadowblock($color, $depth) {
  $shadow: null;
  $comma: ', ';
  @for $i from 1 through $depth {
    @if $i == $depth {
      $comma: '';
    }
    $shadow: $shadow + #{$i}px #{$i}px 0 var(--shad, $color) + unquote($comma);
  }
//  1px 1px 0 #f00, 2px 2px 0 #f00
  text-shadow: $shadow;
}

@import "_frameworks/_rfs.scss";

@import "_sitewide";
@import "_bookcover";
@import "_flipbook";
@import "_blogpost";
@import "_book-listing";
@import "_pages";
@import "_intro-page";
@import "_ui";
@import "_type";

@import "page-modules/_all";

@import "_site-nav";
@import "_typesets";
@import "_page-template";
@import "_masthead";
