@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@0;1&display=swap");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  margin-top: 0;
}

.book-page p {
  font-size: 1.6vw;
}

img {
  height: auto;
}

nav#site-navigation {
  position: absolute;
  top: 2em;
  right: 2em;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.book img {
  width: 100%;
  height: auto;
  display: block;
  line-height: 0;
}

.book .cover {
  top: 0;
  margin-left: var(--cover-thickness, 0.3em);
  margin-left: var(--radius, 0.61em);
  right: 0;
  background: var(--binding-color, #a00);
  border-bottom: var(--cover-thickness, 0.3em) solid var(--binding-color, #a00);
  z-index: 1;
  transition: 0.4s all ease;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  position: relative;
  height: auto;
  margin-bottom: calc( -1 * var(--cover-thickness, 0.3em) );
}

.book:hover .cover {
  -webkit-transform: skewY(-6deg) scaleX(0.98);
          transform: skewY(-6deg) scaleX(0.98);
}

.book {
  display: block;
  background: #ccc;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) var(--radius, 0.61em), #fff var(--radius, 0.61em), #fff 100%), url(https://images.unsplash.com/photo-1621348003842-65f01c0fb21b?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-size: contain, contain;
  width: 100%;
  border-top-left-radius: var(--radius, 0.61em);
  border-bottom-left-radius: var(--radius, 0.61em);
  position: relative;
  box-shadow: 0 0.4em 1.4em #aaa;
  border-top: none;
  border-right: none;
}

.book .pages {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--book-thickness, 2rem);
  background: #aaa;
  background: repeating-linear-gradient(180deg, #666, #666 1px, #aaa 1px, #aaa 2px);
  background-size: 1em;
  border-top-left-radius: var(--radius, 0.61em);
  border-bottom-left-radius: var(--radius, 0.61em);
  border: var(--cover-thickness, 0.3em) solid var(--binding-color, #a00);
  box-shadow: inset 0.2em -0.1em 0.2em rgba(0, 0, 0, 0.4);
  border-right: none;
  border-top-color: transparent;
}
.book .pages:before {
  position: absolute;
  content: "";
  top: calc(-1 * var(--cover-thickness, 0.3em));
  left: calc(-1 * var(--cover-thickness, 0.3em));
  border-top-left-radius: var(--radius, 0.61em);
  width: var(--radius, 0.61em);
  height: calc(var(--book-thickness, 2rem) / 2);
  border: var(--cover-thickness, 0.3em) solid var(--binding-color, #a00);
  border-right: none;
  border-bottom: none;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
  --page-bg-color: #eee;
  --page-seam-color: #000;
}

.book-view {
  /*
  How this should work:

  - The page number is the number of individual pages divided by two
    since a physical "page" has two sides.

  */
  /*
  .notebook:after {
    content: "";
    position: absolute;
    bottom: calc(-0.02em * var(--pages));
    left: 0;
    width: 100%;
    height: 1em;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    z-index: -1;
    background-size: 100%;
    filter: blur(4px);
    clip-path: inset(50% 0 -50% 0);
    transition: 1s all ease;
    opacity: 0;
    background-position: 50%;
    margin-bottom: -0.5em;
  }
  .notebook.open:after {
      height: 1em;
    opacity: 1;
      background-size: 50%;
    background-position: 100%;
  }
  */
}
.book-view .notebook {
  -webkit-transform: perspective(100em);
          transform: perspective(100em);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 80vw;
  height: 40vw;
  margin: 0 auto 4em auto;
}
.book-view .notebook div::-webkit-scrollbar {
  width: 6px;
}
.book-view .notebook div {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.book-view .notebook div::-webkit-scrollbar-track {
  background: transparent;
}
.book-view .notebook div::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-left: 3px solid var(--scrollbarBG, #06c);
}
.book-view .notebook p:last-child {
  margin-bottom: 0;
}
.book-view .book-page {
  width: 50%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  transition: 1s all ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  margin-left: 50%;
  -webkit-transform: translateZ(calc(-0.01em * var(--h))) translateY(calc(0.03em * var(--h)));
          transform: translateZ(calc(-0.01em * var(--h))) translateY(calc(0.03em * var(--h)));
}
.book-view .book-page.flip {
  -webkit-transform: rotateY(-179.9deg) translateZ(calc(-0.01em * var(--h))) translateY(calc( (0.03em * (var(--pages) - var(--h)))));
          transform: rotateY(-179.9deg) translateZ(calc(-0.01em * var(--h))) translateY(calc( (0.03em * (var(--pages) - var(--h)))));
}
.book-view .the-end {
  -webkit-transform: translateZ(calc(-0.01em * (var(--pages) - 1))) translateY(calc(0.03em * var(--pages)));
          transform: translateZ(calc(-0.01em * (var(--pages) - 1))) translateY(calc(0.03em * var(--pages)));
}
.book-view .book-page:nth-child(2n+2) .side {
  border-color: #444;
}
.book-view .side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: var(--page-bg-color);
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 0.5px solid #888;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.book-view .side:after {
  content: "";
  position: absolute;
  width: 2%;
  height: 100%;
  background: linear-gradient(to right, var(--page-seam-color) 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 0;
  opacity: 1;
}
.book-view .side--back:after {
  left: auto;
  right: 0;
  opacity: 1;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.book-view .side:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, var(--page-seam-color) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: 1s all ease;
}
.book-view .side--front {
  overflow: hidden;
}
.book-view .side--front:before {
  opacity: 0.6;
  width: 160%;
}
.book-view .side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #eee;
}
.book-view .book-page-1 .side--front:before {
  opacity: 0;
}
.book-view .text-content {
  height: 100%;
  padding: 8%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 10;
}
.book-view .flip + .book-page .side--front:before {
  opacity: 1;
  width: 0;
}
.book-view .book-page {
  z-index: 1;
}
.book-view .intro {
  width: 50%;
  float: left;
  height: 100%;
  transition: 1s all ease;
  font-size: 1.3vw;
  font-family: "Source Serif Pro";
}
.book-view .open .intro {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.book-view .size--landscape {
  width: 92vw;
  height: 40vw;
}
.book-view .size--portrait {
  width: 78vw;
  height: 46vw;
}
.book-view .size--horiz-photo {
  width: 92vw;
  height: 34vw;
}
.book-view .size--vert-photo {
  width: 71vw;
  height: 47vw;
}
.book-view .book-page-1 .side.side--front img {
  width: 100%;
}
.book-view button.prev {
  position: fixed;
  top: 50%;
}
.book-view button.next {
  position: fixed;
  top: 50%;
  right: 0;
}
.book-view .shine {
  position: absolute;
  content: "";
  height: 100%;
  width: 4%;
  background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
  top: 0;
  left: 2%;
  z-index: 1;
  mix-blend-mode: overlay;
  opacity: 0.6;
}
.book-view .book-page .side--front {
  border-top-left-radius: 0.4em;
}
.book-view .book-page .side--back {
  border-top-right-radius: 0.4em;
}
.book-view .side--back:before {
  background: linear-gradient(to right, #000 0%, #000 50%, transparent 100%);
}
.book-view .flip .side--back:before {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: page-dark-to-light;
          animation-name: page-dark-to-light;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes page-dark-to-light {
  0% {
    background: linear-gradient(to right, #000 0%, #000 50%, transparent 100%);
    opacity: 1;
    width: 100%;
  }
  99% {
    background: linear-gradient(to right, #000 0%, #000 50%, transparent 100%);
    opacity: 0;
    width: 100%;
  }
  100% {
    background: linear-gradient(to right, #000 0%, #000 50%, transparent 100%);
    opacity: 0;
    width: 0%;
  }
}
@keyframes page-dark-to-light {
  0% {
    background: linear-gradient(to right, #000 0%, #000 50%, transparent 100%);
    opacity: 1;
    width: 100%;
  }
  99% {
    background: linear-gradient(to right, #000 0%, #000 50%, transparent 100%);
    opacity: 0;
    width: 100%;
  }
  100% {
    background: linear-gradient(to right, #000 0%, #000 50%, transparent 100%);
    opacity: 0;
    width: 0%;
  }
}
.book-view .the-end {
  box-shadow: 0 0.4em 0.4em #444;
}
.book-view .open .book-page.book-page-1 {
  box-shadow: 0 0.4em 0.4em #444;
}
.book-view .page-number {
  position: absolute;
  bottom: 0;
  background: #fff;
  left: 50%;
  z-index: 100;
}

body:not(.is-singular) .site-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4vw;
  padding: 14em 4vw 2em 4vw;
  -webkit-justify-content: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  -webkit-align-content: space-evenly;
          align-content: space-evenly;
  -webkit-align-items: center;
          align-items: center;
}
body:not(.is-singular) .site-main .book--portrait {
  width: 80%;
}
body:not(.is-singular) .site-main .book--square {
  width: 90%;
}

.side {
  overflow: hidden;
}
.side > .wp-block-group {
  height: 100%;
  width: 100%;
}

.intro {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  background: none;
}

.the-end {
  width: 50%;
  float: right;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
          align-content: center;
  -webkit-justify-content: center;
          justify-content: center;
}

/* View controller
  ================ */
fieldset {
  border-radius: 0.6rem;
  border: 2px solid #aaa;
  padding: 1rem 1.4rem 1.6rem;
}
fieldset legend {
  padding: 0 1rem;
}

.view-controls {
  display: block;
  width: 40rem;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  --btn-color: #06f;
}
.view-controls li {
  display: inline;
  list-style: none;
  padding: 0.4rem;
}
.view-controls input[type=radio] {
  position: absolute;
  width: 1px;
  opacity: 0;
}
.view-controls input[type=radio] ~ label {
  position: relative;
  display: -webkit-inline-flex;
  display: inline-flex;
  gap: 0.6rem;
  -webkit-align-items: center;
          align-items: center;
}
.view-controls input[type=radio] ~ label:before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 50%;
  border: 2px solid var(--btn-color);
  left: 0;
  box-shadow: 1px 1px 0 var(--shad, #0af), 2px 2px 0 var(--shad, #0af), 3px 3px 0 var(--shad, #0af);
}
.view-controls input[type=radio]:checked ~ label:before {
  background: radial-gradient(ellipse at center, var(--btn-color) 49%, #fff 52%, #fff 100%);
}
.view-controls input[type=checkbox] {
  position: absolute;
  width: 1px;
  opacity: 0;
}
.view-controls input[type=checkbox] ~ label {
  position: relative;
  display: -webkit-inline-flex;
  display: inline-flex;
  gap: 0.6rem;
  -webkit-align-items: center;
          align-items: center;
}
.view-controls input[type=checkbox] ~ label:before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 0.4em;
  border: 2px solid var(--btn-color);
  left: 0;
  box-shadow: 1px 1px 0 var(--shad, #f00), 2px 2px 0 var(--shad, #f00), 3px 3px 0 var(--shad, #f00), 4px 4px 0 var(--shad, #f00);
}
.view-controls input[type=checkbox]:checked ~ label:after {
  font-size: 2rem;
  content: "✕";
  position: absolute;
  width: calc(2rem + 4px);
  height: calc(2rem + 4px);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  background: none;
  top: 3px;
  left: 3px;
}
.view-controls input:checked ~ label:before {
  box-shadow: none;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

body {
  font-family: Satoshi;
}

.entry-title {
  color: #222;
  font-weight: 800;
  font-size: calc(1.625rem + 4.5vw);
  letter-spacing: -0.04em;
  text-shadow: 1px 1px 0 var(--shad, #aaa), 2px 2px 0 var(--shad, #aaa), 3px 3px 0 var(--shad, #aaa), 4px 4px 0 var(--shad, #aaa), 5px 5px 0 var(--shad, #aaa), 6px 6px 0 var(--shad, #aaa);
  margin-top: 0;
}
@media (min-width: 1200px) {
  .entry-title {
    font-size: 5rem;
  }
}

.has-large-font-size {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .has-large-font-size {
    font-size: 2rem;
  }
}

.nav-links {
  position: relative;
  padding: 6vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  gap: 2em;
  background: #eee;
  margin-top: 4em;
}
.nav-links:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2em;
  left: 0;
}
.nav-links:before {
  background: conic-gradient(#fff 45deg, transparent 45deg 315deg, #fff 200deg);
  background-size: 2em;
  background-repeat: repeat-x;
  height: 2em;
  top: 0;
}

.book-view button {
  position: fixed;
  height: 8em;
  width: 4em;
  top: 50%;
}
.book-view button.next {
  right: 0;
  border-top-left-radius: 4em;
  border-bottom-left-radius: 4em;
}
.book-view button.prev {
  left: 0;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
}

.p-1 {
  padding: 1vw;
}

.p-2 {
  padding: 2vw;
}

.p-3 {
  padding: 3vw;
}

.p-4 {
  padding: 4vw;
}

.p-5 {
  padding: 5vw;
}

.p-6 {
  padding: 6vw;
}

.content-narrow .wp-block-group__inner-container {
  width: 70%;
}
.size--portrait .content-narrow .wp-block-group__inner-container {
  width: 70%;
}

.wp-block-image figcaption {
  margin-top: 0.5em;
  margin-bottom: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #aaa;
  padding: 1vw;
}

.list-view .side {
  max-width: 40rem;
  margin: 2rem auto;
  box-shadow: 0 1em 1em #aaa;
}
.list-view img {
  width: 100%;
  display: block;
  line-height: 0;
}

.menu-toggle {
  display: none;
}

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-menu .page_item {
  font-weight: 800;
  text-decoration: none;
  font-size: 1.2em;
}

.site-footer {
  padding: 3em 3em 6em 3em;
  text-align: center;
  background: #aaa;
  position: relative;
}
.site-footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2em;
  left: 0;
  top: -1em;
  background: conic-gradient(transparent 135deg, #aaa 135deg 180deg, #aaa 180deg 225deg, transparent 225deg);
  background-size: 1em;
  background-repeat: repeat-x;
  height: 1em;
}

.page .site-main {
  max-width: 48em;
  margin: 0 auto;
  padding-top: 10em;
}

.site-title a {
  font-weight: 800;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  letter-spacing: -0.03em;
  width: 1rem;
  display: block;
  line-height: 0.86;
  padding: 3rem;
  text-shadow: 1px 1px 0 var(--shad, #aaa), 2px 2px 0 var(--shad, #aaa), 3px 3px 0 var(--shad, #aaa), 4px 4px 0 var(--shad, #aaa);
  transition: 0.4s all ease;
}
.home .site-title a {
  font-size: 4rem;
  color: #00a;
  --shad: #0cf;
  color: #f30;
  --shad: #fb8;
}
.site-title a:hover {
  text-shadow: none;
  color: #aaa;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

#bookpage-nav button {
  background: #06c;
  color: #fff;
  font-weight: bold;
  border: none;
}
